.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg,#5f8d9a,#a9c7c5);
    color: #333;  
}
header {

    background: linear-gradient(135deg, #2f284e, #513489, #0c4160);
    color: white;
    text-align: center; 
    padding: 35px 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
header h1 {
    font-size: 2.9em;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}
/* Navbar Styles */
nav {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #2f284e, #513489, #0c4160);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 0 10px;
    border-radius: 30px;
    background: linear-gradient(135deg, #3c6e71, #0c4160);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover {
    background: linear-gradient(135deg, #0c4160, #3c6e71);
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

nav a:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
}
.flex-container {
    display: flex;
}
se
.card {
    background: rgb(86, 208, 227);
    border: 1px solid #435e55ff;
    border-radius: 5px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1)5;
    overflow: hidden;
    transition : transform 0.3s, box-shadow 0.3s;
    margin-bottom : 30px;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.card h2 {
    background: #44576d;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 0;
    font-size: 1.8em;
    text-align: center;
}
.card p {
    padding: 20px;
    font-size: 1.5em;
    line-height: 2;
    color: #000000;
}
.card a {
    display: block;
    background: linear-gradient(135deg, #2f284e, #513489, #0c4160);
    color: white;
    text-decoration: none;
    text-align: right;
    padding: 15px;
    font-weight: bold;     
    font-size: 1.8em;
    border-radius: 0 0 15px 15px;
    transition: background 0.3s;
}
.card a:hover {
    background: #0c4160;
}
.container ul {
    list-style: none;
    padding: 10px;
}
.container ul li {
    font-size: 1.8em;
    margin: 30px 0;
}
section {
    padding: 3rem;
    margin: auto;
    max-width: 800px;
     background: linear-gradient(135deg, #597c7f, #ffffff, #597c7f);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
}

footer {
    background: linear-gradient(135deg, #2f284e, #513489, #0c4160);
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 0rem;
}
h2,h3 {
    color:#14469F
}
